body, html, #root, div {
  position: absolute;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  user-select: none;
}

div { display: block;
  align-items: center; justify-content: center; }

canvas {
  border: 15px solid grey;
}

img{
  height: 35px;
  align-items: center;
  justify-content: center;
}

.container
{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


.clockwise {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}


@keyframes clockwise {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
